---
import aboutShape from "/images/shape.svg";
import burstBloadTwo from "/icons/burst-bloat-2.svg";
import bgProjects from "/images/bg-projects.svg";

import DataProjects from "./DataProjects";
---

<section id="projects" class="my-20 relative">
  <img src={bgProjects} alt="background projects vickyadrii" class="absolute left-0 w-full" />
  <div class="flex justify-center flex-col items-center gap-5">
    <div class="relative md:w-[590px] w-[315px]">
      <img
        src={aboutShape}
        alt="about shape vickyadrii"
        class="absolute -z-10 bottom-2 xl:w-auto md:w-56 w-48"
      />
      <h2
        class="md:text-[56px] text-[30px] md:text-left font-bold text-primary"
      >
        🚀 Highlight Projects
      </h2>
      <img
        src={burstBloadTwo}
        alt="projects shape vickyadrii"
        class="absolute -z-10 top-0 right-0 md:w-12 w-6"
      />
    </div>
    <p
      class="xl:text-2xl md:text-base text-sm xl:leading-9 text-medium text-center max-w-[50rem]"
    >
      These are some of the projects I have created. These projects have not
      only helped me build my portfolio, but also enhanced the skills I have
      developed.
    </p>
  </div>
  <DataProjects />
</section>
