---
import ProjectsContent from "./ProjectsContent";
import DataProjects from "./DataProjects";

import bgProjects from "../../assets/images/bg-projects.svg";
---

<section id="projects" class="my-20 relative">
  <img
    src={bgProjects}
    alt="background projects vickyadrii"
    class="absolute left-0 w-full"
  />
  <ProjectsContent client:load />
  <DataProjects client:load />
</section>
