---
import AboutContent from "./AboutContent";
import AboutImage from "./AboutImage";
---

<section id="profile" class="flex justify-center w-full">
  <div
    class="flex items-center md:flex-row flex-col justify-between md:gap-5 gap-10"
  >
    <AboutContent client:load />
    <AboutImage client:load />
  </div>
</section>
