<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page Not Found</title>
  </head>
  <body>
    <main class="h-screen flex justify-center items-center bg-[#FBFDFF]">
      <div class="flex flex-col items-center gap-8">
        <div class="flex flex-col items-center gap-2">
          <h1 class='text-cyan-600 md:text-8xl text-6xl font-bold'>404</h1>
          <h2 class="md:text-4xl text-2xl font-bold">Page Not Found</h2>
          <p class="md:text-base text-sm text-slate-400">Oops! It appears we can't find the page!</p>
        </div>
        <div>
          <a
            href="/"
            class="bg-cyan-600 hover:bg-cyan-700 outline-none ring ring-cyan-200 text-white px-6 py-2.5 rounded-md transition-all duration-100 text-sm font-medium"
          >
            Back home
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
