@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

/* body {
  color: #ffffff;
  background: #0a0a0a;
}
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-box-shadow:
    0 0 0px 1000px rgba(0, 0, 0, 0.5) inset,
    0 0 0px 1000px #000000 inset;
  -webkit-text-fill-color: #ffffff;
}

input::placeholder,
textarea::placeholder {
  color: #ffffff;
} */
