---
import SocialMedia from "./SocialMedia";
import HomeContent from "./HomeContent";
---

<section id="home" class="flex justify-center items-center h-screen">
  <div class="flex flex-col items-center gap-3">
    <HomeContent client:load />
    <SocialMedia client:load />
  </div>
</section>
