---
import myPhoto from "../../assets/images/me.png";
import email from "../../assets/icons/social-media/gmail-light.svg";
import twitter from "../../assets/icons/social-media/twitter.svg";
import SocialMedia from "./SocialMedia";
import { IconBrandX } from "@tabler/icons-react";
---

<section id="contact" class="bg-gradient-to-br from-[#091318] to-[#060D11] py-10">
  <div class="max-w-7xl m-auto px-5 flex flex-col justify-between md:gap-0 gap-10 text-[#E2FBFF]">
    <div class="flex flex-col gap-7">
      <h2 class="md:text-5xl text-2xl md:font-bold font-semibold">👋 Let's get connected!</h2>
      <div class="flex md:flex-row flex-col md:items-center gap-5">
        <img
          src={myPhoto}
          alt="vickyadrii"
          decoding="async"
          loading="lazy"
          class="md:w-40 w-24 rounded-2xl shadow-[0px_1px_5px_0px_#000]"
        />
        <div class="flex flex-col gap-4">
          <h3 class="md:text-[24px] text-lg font-semibold">Contact me on:</h3>
          <div class="flex flex-col gap-1.5">
            <div class="flex items-center gap-2.5">
              <img src={email} alt="gmail" decoding="async" loading="lazy" class="w-5" />
              <p class="md:text-xl">vickyadri103@gmail.com</p>
            </div>
            <div class="h-[2px] bg-[#E2FBFF] md:w-auto w-64 md:block hidden"></div>
            <button id="twitter-btn" class="flex items-center gap-2.5">
              <IconBrandX className="text-[#E2FBFF] hover:text-white cursor-pointer" size={20} />
              <p class="md:text-xl">@vickyadrii_</p>
            </button>
          </div>
        </div>
      </div>

      <div class="pt-5 md:border-t md:border-t-zinc-100">
        <div class="flex md:flex-row flex-col md:items-center justify-between gap-4">
          <SocialMedia client:visible />
          <span class="md:text-lg text-sm md:font-medium">
            © <span class="date">2024</span>, by Vicky Herdiansyah Adri</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const twitterButton: HTMLElement = document.getElementById("twitter-btn")!;

  twitterButton.addEventListener("click", () => {
    window.location.href = "https://x.com/vickyadrii_";
  });
</script>
