---
import Navbar from "../components/Headers/Navbar";
import ellipse from "/images/ellipse.svg";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/logo.ico" />
    <!-- <title>{title}</title> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-[#FBFDFF]">
    <img src={ellipse} alt="ellipse vickyadrii" class="absolute top-0" />
    <main class="max-w-7xl mx-auto font-figtree text-primary-black">
      <div class="m-5">
        <Navbar client:load />
        <slot />
      </div>
    </main>
  </body>
</html>
